{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle /api/* {
		reverse_proxy api:5000
	}

	handle /health/* {
		reverse_proxy api:5000
	}

	handle {
		reverse_proxy client:80
	}
}
