PORT=5000
NODE_ENV=development


CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=


ADMIN_EMAIL=
ADMIN_NAME=


RESEND_API_KEY=
EMAIL_FROM_ACCOUNT=
EMAIL_FROM_BILLING=
EMAIL_FROM_MARKETING=
EMAIL_REPLY_TO=
EMAIL_UNSUBSCRIBE_SECRET=
BUSINESS_ADDRESS=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_ENVIRONMENT=


PAYMOB_SECRET_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=
PAYMOB_BASE_URL=
PUBLIC_API_URL=
PAYMOB_CURRENCY=




